# Lavalink Configuration
LAVALINK_HOST=lavalink.jirayu.net
LAVALINK_PORT=13592
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

# Spotify API (Optional for expanded features)
SPOTIFY_CLIENT_ID=139e5ac2c3e242cd98ac6f38d8a4ec04
SPOTIFY_CLIENT_SECRET=6342d9e2486e4f17a5ef6c9fe19a85ec
