# Lavalink Configuration
LAVALINK_HOST=lavalink.jirayu.net
LAVALINK_PORT=13592
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

# Spotify API (Optional for expanded features)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
